{% extends 'NovifyBackBundle::base.html.twig' %}
{% block main %}




	<article>
        <div class="container_back">
        	<div class="col-sm-7">
				<h1>Tableau de Bord</h1> <!-- Titre de la section -->

				<p> Bienvenue dans la Partie <strong>Administration</strong> de votre site de vente en ligne, il s'agit d'une partie privée de votre site à laquelle aucun client n'a accès. Ici vous pourrez suivre l'intégralité des actions réalisées sur votre site, que ça soit par les clients ou par l'administrateur, vous.</p><br/><br/>

				<h4>A quoi ça sert ?</h4>
				<p><strong>1) A mettre à jour votre site.</strong><br/>
				En effet, C'est ici que vous y ajouterez de nouveaux articles, de nouvelles catégories, de nouvelles promos ...<p/><br/>
				<p><strong>2) A suivre vos commandes, et les articles présent en ligne.</strong><br/>
				Grâce à cette espace dédié à l'organisation du site, vous serrez informés lorsqu'un client commande un article, lorsqu'un article est proche de sa rupture de stock, et vous pourrez consulter l'intégralité de vos articles.</p>

				<p>Pour plus d'information, nous vous invitons à lire le document que nous vous avons remis en main propre et qui fait office de notice pour la partie administration de votre site. Ce document est également consultable ici : <a href="#">télécharger le pdf</a></p>
			</div>

			<div class="info">
				<div class="col-sm-4">
					<div class="row" id="info_notification">
						<div class="col-sm-12">
							
							<table>
								<thead>
									<tr>
										<th>Notifications</th>
										<th></th>
									</tr>
									<tr class="vierge"><th></th><th></th></tr>
								</thead>

								<tbody>
									<tr>
										<td><a href="{{ path('novify_back_index') }}">Commandes en attentes</a></td>
										<td class="nombre_notifs">2</td>
									</tr>
									<tr>
										<td><a href="{{ path('novify_back_article_index') }}">Articles bientôt en rupture</a></td>
										<td class="nombre_notifs">3</td>
									</tr>
									<tr>
										<td><a href="{{ path('novify_back_utilisateurs_index') }}">Nouveaux utilisateurs</a></td>
										<td class="nombre_notifs">7</td>
									</tr>
								</tbody>
							</table>

						</div>
					</div>
				</div>
			</div>


			<div class="col-sm-12">
				<h1>Consultez vos articles</h1>
				<p>Voici la liste des articles disponibles sur le site<br/>
					N'hésitez pas à utiliser les filtres, et a vous rendre dans les pages concerné pour ajouter d'autres articles</p>

				<table>
					
					<thead>
						<tr>
							<th>ID</th>
							<th>Image</th>
							<th>Nom</th>
							<th>Prix</th>
							<th>Quantité</th>
							<th>Catégorie</th>
							<th>Modifier</th>
							<th>Supprimer</th>
						</tr>
					</thead>

					<tbody>
						
						<tr>
							<td>1</td>
							<td><img src="{{ asset('bundles/novifyfront/images/article1.jpg')}}" alt=""></td>
							<td>Nom article</td>
							<td>17.00€</td>
							<td>43</td>
							<td>Comics</td>
							<td><a href="#" class="modifier">Modifier</a></td>
							<td><a href="#" class="supprimer">Supprimer</a></td>
						</tr>

						<tr>
							<td>2</td>
							<td><img src="{{ asset('bundles/novifyfront/images/article1.jpg')}}" alt=""></td>
							<td>Nom article</td>
							<td>17.00€</td>
							<td>43</td>
							<td>Comics</td>
							<td><a href="#" class="modifier">Modifier</a></td>
							<td><a href="#" class="supprimer">Supprimer</a></td>
						</tr>

					</tbody>

				</table>
			</div>


		</div> 
    </article>




{% endblock %}
