{% extends 'NovifyBackBundle::base.html.twig' %}
{% block main %}




	<article>
        <div class="container_index">

			<div class="row">
	        	<div class="col-sm-8 bloc_back_index">
					<h1>Tableau de Bord</h1> <!-- Titre de la section -->

					<p> Bienvenue dans la Partie <strong>Administration</strong> de votre site de vente en ligne. Il s'agit d'une partie privée de votre site à laquelle aucun client n'a accès. Ici vous pourrez suivre l'intégralité des actions réalisées sur votre site, que ça soit par les clients ou par l'administrateur.</p><br/><br/>

					<h4>A quoi ça sert ?</h4>
					<p><strong>1) A mettre à jour votre site.</strong><br/>
					C'est ici que vous ajouterez de nouveaux articles ou de nouvelles catégories à votre site de vente en ligne.<p/><br/>
					<p><strong>2) A suivre vos commandes, et les articles présent en ligne.</strong><br/>
					Grâce à cet espace dédié à l'organisation du site, vous serez informés lorsqu'un client commande un article, lorsqu'un article est proche de sa rupture de stock, et vous pourrez consulter l'intégralité de vos articles.</p>

					<p>Pour plus d'informations, nous vous invitons à lire le document que nous vous avons remis en main propre et qui fait office de notice pour la partie administration de votre site. Ce document est également consultable ici : <a href="#">télécharger le pdf</a></p>
				</div>

				<div class="col-sm-3 info bloc_back_notif">
						
					<table>
						<thead>
							<tr>
								<th>Récapitulatif</th>
								<th></th>
							</tr>
						</thead>

						<tbody>

							<tr>
								<td>Nombre d'articles ajoutés sur le site</td>
								<td class="nombre_notifs">{{nb_articles}}</td>
							</tr>

							<tr>
								<td>Nombre d'utilisateurs inscrits</td>
								<td class="nombre_notifs">{{nb_utilisateurs}}</td>
							</tr>


							<tr>
								<td>Nombre de commandes passées</td>
								<td class="nombre_notifs">{{nb_commandes}}</td>
							</tr>
							<tr>
								<td>Articles bientôt en rupture de stock</td>
								<td class="nombre_notifs">{{nb_rupt_stock}}</td>
							</tr>
							<tr>
								<td>Chiffre d'affaire total réalisé</td>
								<td class="nombre_notifs">
									{{chiffre_affaire}}
								</td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>

			<div class="row">

        		<!-- Graphique en lignes -->
				<div class="col-sm-11" style="margin: 50px 0">
					<h1>Évolution du chiffre d'affaire par mois</h1>
						<canvas id="canvas"></canvas>
				</div>

			
			</div>

			<div class="row">

				<div class="col-sm-12 bloc_back_index">
					<h1>Articles bientôt en rupture de stock</h1>

					<table>
						
						<thead>
							<tr>
								<th>ID</th>
								<th>Image</th>
								<th>Nom</th>
								<th>Prix</th>
								<th>Quantité</th>
								<th>Catégorie</th>
								<th>Sous-catégorie</th>

							</tr>
						</thead>

						<tbody>
							
							
{% for article_rupt_stock in articles_rupt_stock %}
					<tr>
						<td>{{ article_rupt_stock.id }}</td>
						<td>
{% if article_rupt_stock.getWebPath is not null %}
						<img src="{{ asset(article_rupt_stock.getWebPath)}}" alt="">
{% else %}
Pas d'image
{% endif %}
</td>
						<td>{{ article_rupt_stock.artNom }}</td>
						<td>{{ article_rupt_stock.artPrix }} €</td>
						<td>{{ article_rupt_stock.artStock }}</td>
						<td>{{ article_rupt_stock.sousCategorie.souscatNom }}</td>
						<td>{{ article_rupt_stock.sousCategorie.categorie.catNom }}</td>
					</tr>

{% endfor %}
						</tbody>

					</table>
				</div>





				<div class="col-sm-12 bloc_back_index">
					<h1>Derniers articles ajoutés sur le site</h1>

					<table>
						
						<thead>
							<tr>
								<th>ID</th>
								<th>Image</th>
								<th>Nom</th>
								<th>Prix</th>
								<th>Quantité</th>
								<th>Catégorie</th>
								<th>Sous-catégorie</th>

							</tr>
						</thead>

						<tbody>
							
							
{% for article in articles %}
					<tr>
						<td>{{ article.id }}</td>
						<td>
{% if article.getWebPath is not null %}
						<img src="{{ asset(article.getWebPath)}}" alt="">
{% else %}
Pas d'image
{% endif %}
</td>
						<td>{{ article.artNom }}</td>
						<td>{{ article.artPrix }} €</td>
						<td>{{ article.artStock }}</td>
						<td>{{ article.sousCategorie.souscatNom }}</td>
						<td>{{ article.sousCategorie.categorie.catNom }}</td>
					</tr>

{% endfor %}
						</tbody>

					</table>
				</div>
			</div>

		</div> 
    </article>

	
	<!-- Graphique en ligne -->
	<script>
		var randomScalingFactor = function(){ return Math.round(Math.random()*100)};
		var lineChartData = {
			labels : [{% for commande_graphe in commandes_graphe %}"{{commande_graphe.comDate|date("m/Y")}}",{% endfor %}],
			datasets : [
				
				{
					label: "CA par mois",
					fillColor : "rgba(151,187,205,0.2)",
					strokeColor : "rgba(151,187,205,1)",
					pointColor : "rgba(151,187,205,1)",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "rgba(151,187,205,1)",
					data : [{% for commande_graphe in commandes_graphe %}{{commande_graphe.comPrix}}, {% endfor %}]
					
					
					
					
				}
			]

		}

	window.onload = function(){
		var ctx = document.getElementById("canvas").getContext("2d");
		window.myLine = new Chart(ctx).Line(lineChartData, {
			responsive: true
		});
	}


	</script>




{% endblock %}
