<!DOCTYPE html>
<html lang="fr">
    <head>


        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->


        <meta charset="utf-8">
        <title>Batmania - Administration</title>

        <!-- Feuilles de style -->
        <link rel="stylesheet" href="{{ asset('bundles/novifyfront/css/bootstrap-theme.css')}}"/>
        <link rel="stylesheet" href="{{ asset('bundles/novifyfront/css/bootstrap.css')}}"/>
        <link rel="stylesheet" href="{{ asset('bundles/novifyback/css/style.css')}}"/>
        <link rel="stylesheet" href="{{ asset('bundles/novifyback/font/glyphicons.css')}}"/>

        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/novifyfront/css/ns-default.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/novifyfront/css/ns-style-growl.css')}}" />

        <!-- Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Favicon -->
        <link rel="icon" href="#" sizes="32x32">
        <link rel="icon" href="#" sizes="64x64">

        <!-- Google Font -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

        <!-- Js -->
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

        <script src="{{ asset('bundles/novifyfront/js/modernizr.custom.js')}}"></script>

    </head>
{% block body %}

    <body>
{% block header %}
        <!-- Header -->


        <header>
            <p>
                <a href="{{ path('novify_front_homepage') }}"><img src="{{ asset('bundles/novifyfront/images/logo.png')}}" alt="Logo Batmania" style="width:100px;"></a>
                <a href="{{ path('novify_front_homepage') }}" style="float:right;padding-top:20px;padding-right:20px;">Accéder au site - Batmania</a>
            </p>
        </header>
        <!-- Fin Header -->



        <section>

            <!-- Barre de navigation du backoffice -->
            <aside>
                   <ul>

                        <li><a href="{{ path('novify_back_index') }}"><i class="glyphicon-home"></i> Tableau de bord</a></li>
                        <li><a href="{{ path('novify_back_categorie_index') }}"><i class="glyphicon-tag"></i> Catégories</a></li>
                        <li><a href="{{ path('novify_back_souscategorie_index') }}"><i class="glyphicon-tags"></i> Sous catégories</a></li>
                        <li><a href="{{ path('novify_back_article_index') }}"><i class="glyphicon-t-shirt"></i> Articles</a></li>
                        <li><a href="{{ path('novify_back_utilisateurs_index') }}"><i class="glyphicon-group"></i> Clients</a></li>
                        <li><a href="{{ path('novify_back_commandes_index') }}"><i class="glyphicon-eye_open"></i> Commandes</a></li>
                        <li><a href="{{ path('novify_back_caroussel_index') }}"><i class="glyphicon-film"></i> Carousel</a></li>
                   </ul>
            </aside>



{% endblock %}
{% block main %}
{% endblock %}

 </section> <!-- Fin page -->


{% block footer %}
    <!-- Footer -->
    <footer>


    </footer>
    <!-- Fin Footer -->
{% endblock %}
    

    <script src="{{ asset('bundles/novifyfront/js/notificationFx.js')}}"></script>
    <script src="{{ asset('bundles/novifyfront/js/classie.js')}}"></script>



    {% for msg in app.session.flashbag.get('confirmation') %}
    <script>
            (function() {
                // var bttn = document.getElementById( 'notification-trigger' );

                // make sure..
                // bttn.disabled = false;
                
                // bttn.addEventListener( 'click', function() {
                    // simulate loading (for demo purposes only)
                    // classie.add( bttn, 'active' );
                    setTimeout( function() {

                        // classie.remove( bttn, 'active' );
                        
                        // create the notification
                        var notification = new NotificationFx({
                            message : '<p>{{ msg }}</p>',
                            layout : 'growl',
                            effect : 'scale',
                            type : 'notice', // notice, warning, error or success
                            onClose : function() {
                                // bttn.disabled = false;
                            }
                        });

                        // show the notification
                        notification.show();

                    }, 600 );
                    
                    // disable the button (for demo purposes only)
                    // this.disabled = true;
                // } );
            })();
        </script>

{% endfor %}


    <!-- Fin Body -->
    </body>
{% endblock %}
</html>

