<!DOCTYPE html>
<html lang="fr">
    <head>


        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->


        <meta charset="utf-8">
        <title>Batmania - Administration</title>

        <!-- Feuilles de style -->
        <link rel="stylesheet" href="{{ asset('bundles/novifyback/css/style.css')}}"/>
        <link rel="stylesheet" href="{{ asset('bundles/novifyback/font/glyphicons.css')}}"/>

        <!-- Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Favicon -->
        <link rel="icon" href="#" sizes="32x32">
        <link rel="icon" href="#" sizes="64x64">

        <!-- Google Font -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

    </head>
{% block body %}

    <body>
{% block header %}
        <!-- Header -->


        <header>
            <p><a href="">BATMANIA </a></p>
        </header>
        <!-- Fin Header -->



        <section>

            <!-- Barre de navigation du backoffice -->
            <aside>
                   <ul>

                        <li><a href="{{ path('novify_back_index') }}"><i class="glyphicon-home"></i> Tableau de bord</a></li>
                        <li><a href="{{ path('novify_back_categorie_index') }}"><i class="glyphicon-tag"></i> Catégories</a></li>
                        <li><a href="{{ path('novify_back_souscategorie_index') }}"><i class="glyphicon-tags"></i> Sous catégories</a></li>
                        <li><a href="{{ path('novify_back_article_index') }}"><i class="glyphicon-t-shirt"></i> Articles</a></li>
                        <li><a href="{# {{ path('novify_back__add') }} #}"><i class="glyphicon-group"></i> Clients</a></li>
                        <li><a href="{# {{ path('novify_back__add') }} #}"><i class="glyphicon-eye_open"></i> Commandes</a></li>
                   </ul>
            </aside>



{% endblock %}
{% block main %}
{% endblock %}

 </section> <!-- Fin page -->


{% block footer %}
    <!-- Footer -->
    <footer>


    </footer>
    <!-- Fin Footer -->
{% endblock %}

    <!-- Fin Body -->
    </body>
{% endblock %}
</html>

