{% extends 'NovifyBackBundle::base.html.twig' %}
{% block main %}




    <article>
        <div class="container">
            <h1>Modifer un article</h1>
            
			<div class="info_form">
            	<fieldset>
		        <legend><h4>Pourquoi modifier un article ?</h4></legend>
					<p>L'article est le point central du site, c'est la ou le visiteur doit être amené, vers l'article qu'il recherche.<br/>
					Il est trés important de donner le plus d'informations possible à l'article, afin d'informer le plus possible le visiteur.</p><br/>
					<p>Si vous pensez qu'un article est mal renseigné n'hésitez pas à venir le modifier ici.</p>
				</fieldset>
			</div>
            
			{{ form_start(form, {'method': 'POST', 'attr': {'id': 'formulaire'}}) }}

			<fieldset id="form_art">
		        <legend><h4>Informations principales</h4></legend>
				<!-- Nom -->
	        	{{ form_label(form.artNom, "Nom de l'article", {'label_attr': {'class':'art'}}) }}<br/>
				{{ form_widget(form.artNom) }}<br/><br/>
				<!-- -->

				<!-- Image de l'article -->
	        	{{ form_label(form.artImg, "Image de présentation de l'article", {'label_attr': {'class':'art'}}) }}<br/>
				{{ form_widget(form.artImg) }}<br/><br/>
				<!-- -->

				<!-- Description -->
	        	{{ form_label(form.artDescript, "Description") }}<br/>
				{{ form_widget(form.artDescript) }}<br/><br/>
				<!-- -->

				<!-- Label Prix/Référence/Stock -->
	        	{{ form_label(form.artPrix, "Prix", {'label_attr': {'class':'prix'}}) }}
	        	{{ form_label(form.artRef, "Référence", {'label_attr': {'class':'ref'}}) }}
	        	{{ form_label(form.artStock, "Nombre d'articles disponibles à la vente sur le site", {'label_attr': {'class':'art'}}) }}<br/>
				<!-- -->

				<!-- Input Prix/Référence/Stock -->
				{{ form_widget(form.artPrix, {'attr': {'placeholder':'€'}}) }}
				<span>Indiquez le prix en euros €.</span>
				{{ form_widget(form.artRef) }}
				{{ form_widget(form.artStock) }}
				<span>Vous devez indiquer une valeur numérique, 1 est la valeur minimum.</span><br/><br/>
				<!-- -->

				<!-- Sous catégorie -->
	        	{{ form_label(form.sousCategorie, "Sous Catégorie") }}<br/>
	        	<p>Indiquez la sous Catégorie de l'article, il trouvera automatiquement la catgéorie qui lui est associé.<br/>
				{{ form_widget(form.sousCategorie) }}</p><br/>
				<!-- -->
				
				<!-- Coup de coeur -->
				{{ form_label(form.artSelection, "Selection") }}<br/>
				<p>{{ form_widget(form.artSelection) }}Selectionnez si vous souhaitez faire apparaitre le produit dans la categorie "Selection Batmania".</p>		
			</fieldset>

			<fieldset id="form_art">
		        <legend><h4>Informations secondaires</h4></legend>
				
		        <!-- Label Auteur/Réalisateur/Editeur/Genre -->
	        	{{ form_label(form.artAuteur, "Auteur", {'label_attr': {'class':'auteur'}}) }}
	        	{{ form_label(form.artRealisat, "Réalisateur", {'label_attr': {'class':'real'}}) }}
	        	{{ form_label(form.artEditeur, "Éditeur", {'label_attr': {'class':'genre'}}) }}
	        	{{ form_label(form.artGenre, "Genres") }}<br/>
				<!-- -->

				<!-- Input Auteur/Réalisateur/Editeur/Genre -->
				{{ form_widget(form.artAuteur, {'attr': {'class': 'non_obligatoire'}}) }}
				{{ form_widget(form.artRealisat, {'attr': {'class': 'non_obligatoire'}}) }}
				{{ form_widget(form.artEditeur, {'attr': {'class': 'non_obligatoire'}}) }}
				{{ form_widget(form.artGenre, {'attr': {'class': 'non_obligatoire'}}) }}<br/><br/>
				<!-- -->

				<!-- Date de sorie -->
	        	{{ form_label(form.artDateSortie, "Date de sortie") }}<br/>
				{{ form_widget(form.artDateSortie) }}<br/><br/>
				<!-- -->

				<!-- Casting -->
	        	{{ form_label(form.artCasting, "Casting") }}<br/>
				{{ form_widget(form.artCasting, {'attr': {'class': 'non_obligatoire'}}) }}<br/><br/>
				<!-- -->

				<!-- Type de public-->
	        	{{ form_label(form.artPublic, "Type de public") }}<br/>
				{{ form_widget(form.artPublic, {'attr': {'class': 'non_obligatoire', 'placeholder':'  -16, Interdit au moins de 16 ans, 6 et +, 6+ ...'}}) }}
				<span>Indiquez le type de public sous le forme que vous voulez …</span><br/><br/>
				<!-- -->

				<!-- ISBN -->
	        	{{ form_label(form.artIsbn, "ISBN") }}<br/>
				{{ form_widget(form.artIsbn, {'attr': {'class': 'non_obligatoire'}}) }}
				<span>L'ISBN est le numéro d'identification d'un livre</span><br/><br/>
				<!-- -->

				<!-- Label Durée/Pages/Plateforme -->
				{{ form_label(form.artDuree, "Durée du film", {'label_attr': {'class':'duree'}}) }}
	        	{{ form_label(form.artPages, "Indiquez le nombre de pages", {'label_attr': {'class':'pages'}}) }}
	        	{{ form_label(form.artPlateforme, "Plateforme/Console de jeux", {'label_attr': {'class':'art'}}) }}<br/>
				<!-- -->

				<!-- Input Durée/Pages/Plateforme -->
				{{ form_widget(form.artDuree, {'attr': {'class': 'non_obligatoire'}}) }}
				<span>Indiquez la durée du film en minute, exemple : 136min</span>
				{{ form_widget(form.artPages, {'attr': {'class': 'non_obligatoire'}}) }}<span>Vous devez indiquer une valeur numérique, 1 est la valeur minimum.</span>
				{{ form_widget(form.artPlateforme, {'attr': {'class': 'non_obligatoire', 'placeholder':'PS4, Xbox One, ...'}}) }}<br/><br/>
				<!-- -->

				<!-- Promo -->
	        	{{ form_label(form.artPromo, "Promotion sur l'article") }}<br/><p>
	        	Indiquez un pourcentage de remise sur cet article.<br/>
				{{ form_widget(form.artPromo, {'attr': {'class': 'non_obligatoire', 'placeholder':'%'}}) }}</p><br/>
				<!-- -->
			</fieldset>

			<input type="submit" id="valider_les_modifs" value="Valider les modifications" style="float:right;"/>

			{# Rend le formulaire html #}
			{{ form_end(form) }}

			<a href="{{ path('novify_back_article_index') }}" id="retourArt">Retour</a>

        </div>
    </article>




{% endblock %}
