{% extends 'NovifyBackBundle::base.html.twig' %}
{% block main %}




	<article>
		<div class="container article">
			<h1>Articles</h1> <!-- Titre de la section -->

			<!-- Ajouter un article -->
			<p class="ajouter"><a href="{{ path('novify_back_article_add') }}"><i class="glyphicon-plus"></i> Ajouter</a></p>


			<table>

				<thead>
					<tr>
						<th>ID</th>
						<th>Image</th>
						<th>Nom</th>
						<th>Prix</th>
						<th>Quantité</th>
						<th>Catégorie</th>
						<th>Sous-catégorie</th>
						<th>Modifier</th>
						<th>Supprimer</th>
					</tr>
				</thead>

				<tbody>
{% for article in articles %}
					<tr>
						<td>{{ article.id }}</td>
						<td>
{% if article.getWebPath is not null %}
<img src="{{ asset(article.getWebPath)}}" alt="">
{% else %}
Pas d'image
{% endif %}
</td>
						<td>{{ article.artNom }}</td>
						<td>{{ article.artPrix }} €</td>
						<td>{{ article.artStock }}</td>
						<td>{{ article.sousCategorie.souscatNom }}</td>
						<td>{{ article.sousCategorie.categorie.catNom }}</td>
						<td><a href="{{ path('novify_back_article_edit', {id: article.id}) }}">Modifier</a></td>
						<td><a href="{{ path('novify_back_article_remove', {id: article.id}) }}">Supprimer</a></td>
					</tr>

{% endfor %}

				</tbody>

			</table>


		</div>
	</article>




{% endblock %}
