{% extends 'NovifyBackBundle::base.html.twig' %}
{% block main %}




    <article>
        <div class="container catagories">
            <h1>Catégories</h1> <!-- Titre de la section -->
            
            <!-- Ajouter une catégorie -->
            
            <div class="info_restriction">
                <fieldset id="restriction">
                <legend><h4>Attention</h4></legend>
                <p>Le nombre de catégorie est limité à 8 !<br/>
                </fieldset>
            </div>


            <p class="ajouter" id="ajouter_cat"><a href="{{ path('novify_back_categorie_add') }}"><i class="glyphicon-plus"></i> Ajouter</a></p>


            <table>

                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Bannière</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>
                    </tr>
                </thead>

                <tbody>
{% for categorie in categories %}
                    <tr>
                        <td>{{ categorie.id }}</td>
                        <td>{{ categorie.catNom }}</td>

                        <td>
                            {% if categorie.getWebPath is not null %}
                            <img src="{{ asset(categorie.getWebPath)}}" alt="">
                            {% else %}
                            Pas d'image
                            {% endif %}    
                        </td>


                        <td><a href="{{ path('novify_back_categorie_edit', {id: categorie.id}) }}" class="modifier">Modifier</a></td>
                        <td><a href="{{ path('novify_back_categorie_remove', {id: categorie.id}) }}" class="supprimer">Supprimer</a></td>
                    </tr>

{% endfor %}

                </tbody>

            </table>


        </div>
    </article>




{% endblock %}
