<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<title>Batmania - Newsletter</title>
	</head>



	<body>

		<table style="width:600px;font-family:arial;margin:auto;">


			<tr>
				<td colspan="2">
						<img style="width: 40%;margin:auto;display:block" src="http://195.83.128.55/~mmi13b09/batmania/logo.png" alt="Logo Batmania">

				</td>
			</tr>


			<tr>
				<td colspan="2">
				
					<!-- <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a risus sed mi posuere imperdiet a ut nisl. Cras eleifend pretium nisl vitae semper. Aliquam erat volutpat. Integer vitae velit vel dolor venenatis cursus. Phasellus dapibus nec risus adipiscing interdum. Quisque ante ligula, rutrum fringilla imperdiet eu, consectetur vitae enim. Aliquam pellentesque condimentum elementum.</p> -->

				</td>
			</tr>


			<tr>
				<td colspan="2">
					<h1 style="color:#1A465C;font-size:36px;border-bottom:1px solid #1A465C;padding:5px 0;text-align:center">Articles</h1>
				</td>
			</tr>


			<tr>

				{% for article in articles %}

					<td style="width:50%">
						<div style="padding:30px">
							<img style="width:100%;padding:0px"  src="{{ asset(article.getAbsolutePath)}}" alt="Articles">
							<h2 style="text-align:center;text-transform:uppercase">{{article.artNom}}</h2>
							<p style="font-size:20px;text-align:center">{{article.artPrix}}</p>
						</div>
					</td>

				{% endfor %}
			</tr>


			<tr>
				<td colspan="2">
					<h1 style="color:#1A465C;font-size:36px;border-bottom:1px solid #1A465C;padding:5px 0;text-align:center">Selection Batmania</h1>
				</td>
			</tr>


			<tr>
				{% for selection in selections %}
					<td style="width:50%">
						<div style="padding:30px">
							<img style="width:100%;padding:0px"  src="{{ asset(selection.getAbsolutePath)}}" alt="Selections Batmania">
							<h2 style="text-align:center;text-transform:uppercase">{{selection.artNom}}</h2>
							<p style="fo,t-size:20px;text-align:center">{{selection.artPrix}}</p>
						</div>
					</td>
				{% endfor %}
			</tr>


			<tr><td colspan="2" style="text-align:center;font-size:30px;margin-top:20px">On se retrouve sur <a href="#" style="color:#1A465C;text-decoration:none">www.batmania.fr</a></td></tr>

			

		</table>
		
	</body>


</html>