{% for article in articles %}
							<div class="col-md-3 col-sm-6 col-xs-12 article"> <!-- 1 article -->

								<div class="article_image"> <!-- Image article -->
									<a href="{{ path('novify_front_view_one', {'categorie': categorie.catNom, 'sousCategorie': souscat.souscatNom, 'id': article.id}) }}"><img src="{{ asset('bundles/novifyfront/images/article2.jpg')}}" alt=""></a>
								</div>

								<h5><a href="{{ path('novify_front_view_one', {'categorie': categorie.catNom, 'sousCategorie': souscat.souscatNom, 'id': article.id}) }}">{{article.artNom}}</a></h5> <!-- Titre et prix de l'article -->
								<p><a href="">{{article.artPrix}} €</a></p>
							</div> <!-- Fin de l'article -->


{% endfor %}
