{% extends 'NovifyFrontBundle::base.html.twig' %}
{% block main %}

		<!-- Body -->

		<div id="bloc_catalogue">

			<!-- Image choisie par l'utilisateur et modifiable dans le back office -->
			<div class="banniere_catalogue">
				<img src="{{ asset('bundles/novifyfront/images/banniere-livres.jpg')}}" alt="image_info_carousel">

				<div class="container">
					<h1><a href="#">Livres</a> > Comics</h1>
				</div>

			</div>

			<div class="container">

				<!-- Ligne de tri -->
				<div class="row">
					<div class="col-lg-12">
						Barre de tri
					</div>
				</div>

				<!-- affichage en grille des articles -->
				<div class="row">
					<div class="col-lg-12">

						<div class="row">

							<div class="col-md-3 article">

								<div class="article_image">
									<img src="{{ asset('bundles/novifyfront/images/article1.jpg')}}" alt="">
								</div>

								<h5>Titre article</h5>
								<p>Description : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec egestas tellus vel neque luctus, porta maximus elit elementum.</p>
							</div>


							<div class="col-md-3 article">

								<div class="article_image">
									<img src="{{ asset('bundles/novifyfront/images/article2.jpg')}}" alt="">
								</div>

								<h5>Titre article</h5>
								<p>Description : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec egestas tellus vel neque luctus, porta maximus elit elementum.</p>
							</div>


							<div class="col-md-3 article">

								<div class="article_image">
									<img src="{{ asset('bundles/novifyfront/images/article3.jpg')}}" alt="">
								</div>

								<h5>Titre article</h5>
								<p>Description : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec egestas tellus vel neque luctus, porta maximus elit elementum.</p>
							</div>


							<div class="col-md-3 article">

								<div class="article_image">
									<img src="{{ asset('bundles/novifyfront/images/article4.jpg')}}" alt="">
								</div>

								<h5>Titre article</h5>
								<p>Description : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec egestas tellus vel neque luctus, porta maximus elit elementum.</p>
							</div>


						</div>

					</div>
				</div>


			</div>


		</div>
{% endblock %}
