{% extends 'NovifyFrontBundle::base.html.twig' %}
{% block main %}
		<!-- Body -->

		<div id="bloc_catalogue">

			<!-- Image choisie par l'utilisateur et modifiable dans le back office -->
			<div class="banniere_catalogue"> <!-- Banniere a actualiser selon la catégorie -->
{% if categorie.catBannierePath is not null %}
				<img src="{{ asset(categorie.getWebPath) }}" alt="image_info_carousel">

{% endif %}
				<div class="container"><!-- Fil d'ariane, liens et textes à générer depuis la bdd -->
					<h1><a href="{{ path('novify_front_view_categorie', {'categorie': categorie.catNom}) }}">{{ categorie.catNom }}</a>
{% for souscat in souscats %}
	{% if loop.length == 1 %} > <a href="{{ path('novify_front_view_souscategorie', {'categorie': categorie.catNom, 'sousCategorie': souscat.souscatNom}) }}">{{souscat.souscatNom}}</a>{% endif %}
{% endfor %}</h1>
				</div>

			</div>

			<div class="container" style="width:100%">

{% for souscat in souscats %}
				<!-- Ligne de tri et pagination -->
				<div class="row barre_tri"> <!-- Ligne de la barre de tri-->
					<div class="col-sm-2 col-xs-4">
						{{ souscat.souscatNom|capitalize }}
					</div>
					<div class="col-sm-2 col-xs-4"> <!-- Nombre d'articles sur la page-->
						{{ souscat.articles|length }} articles
					</div>

					<div class="col-sm-6 col-xs-4"> <!-- Tri -->
						Du - au + cher
					</div>

					<div class="col-sm-2 col-xs-12 pagination"> <!-- Pagination -->
						<a href="#">1</a> - <span>2</span> - <a href="#">3</a>
					</div>
				</div>

				<!-- affichage en grille des articles -->


				<div class="row ligne_articles"> <!-- Ligne 1-->
					<div class="col-md-12">

						<div class="row">
{% for article in souscat.articles %}
							<div class="col-md-3 col-sm-6 col-xs-12 article"> <!-- 1 article -->

								<div class="article_image"> <!-- Image article -->
									<a href="{{ path('novify_front_view_one', {'categorie': categorie.catNom, 'sousCategorie': souscat.souscatNom, 'id': article.id}) }}"><img src="{{ asset(article.getWebPath) }}" alt=""></a>
								</div>

								<h5><a href="{{ path('novify_front_view_one', {'categorie': categorie.catNom, 'sousCategorie': souscat.souscatNom, 'id': article.id}) }}">{{article.artNom}}</a></h5> <!-- Titre et prix de l'article -->
								<p><a href="">
									{% if article.artPromo is null %}
									{{article.artPrix}} €
								{% else %}
									{{article.artPrix - article.artPromo / 100 * article.artPrix}} € <s style="font-size:15px;color:red;font-weight:300">{{article.artPrix}} €</s>
								{% endif %}
								</a></p>
							</div> <!-- Fin de l'article -->


{% endfor %}

						</div>

					</div>
				</div>


{% endfor %}
			</div>


		</div>
{% endblock %}
