{% extends 'NovifyFrontBundle::base.html.twig' %}
{% block main %}


		<!-- Body -->

		<div id="bloc_compte">



			<div class="container">

				<div class="row">

					<div class="col-sm-8" style="padding-right: 50px;">
						<h3 style="border-bottom: #e2c879 1px solid;">Completez vos informations</h3>

						{{ form_start(form, {'method': 'POST', 'attr': {'id': 'formulaire'}}) }}


						<fieldset>
						<legend><h4>Informations principales</h4></legend>

						{{ form_errors(form) }} <br/>

							<!-- Nom & Prénom -->
							{{ form_label(form.userPrenom, 'Prénom', {'label_attr': {'class': 'prenom'}}) }}
							{{ form_label(form.userNom, 'Nom') }}<br/>
							{{ form_widget(form.userPrenom) }}
								<span>Vous devez entrer votre prénom</span>
							{{ form_widget(form.userNom) }}
								<span>Vous devez entrer votre nom de famille</span><br/><br/>
							<!-- -->

							<!-- civilité -->
							{{ form_label(form.userCivilite, 'Civilité') }}<br/>
							{{ form_widget(form.userCivilite) }}<br/><br/>
							<!-- -->

							<!-- Email -->
							{{ form_label(form.userMail, 'Adresse Mail') }}<br/>
							{{ form_widget(form.userMail, {'attr': {'placeholder': 'exemple@batmania.fr'}}) }}
								<span>Vous devez entrer une adresse mail du type : exemple@batmania.fr</span><br/><br/>
							<!-- -->

							<!-- Mot de passe 
							{{ form_label(form.userMdp.first, 'Entrez votre mot de passe', {'label_attr': {'class': 'pass'}}) }}<br/>
							{{ form_widget(form.userMdp.first) }}<br/>
								<span>Vous devez entrer un mot de passe d'au moins 6 caractères</span><br/>

							{{ form_label(form.userMdp.second, 'Confirmez votre mot de passe', {'label_attr': {'class': 'pass'}}) }}<br/>
							{{ form_widget(form.userMdp.second) }}
								<span>Votre mot de passe doit correspondre avec celui entré ci-dessus</span><br/><br/>  -->
							<!-- -->
						</fieldset>

						<fieldset>
						<legend><h4>Informations Livraison</h4></legend>

							<!-- Nom & Prénom -->
							{{ form_label(form.userLivPrenom, 'Prénom', {'label_attr': {'class': 'prenom'}}) }}
							{{ form_label(form.userLivNom, 'Nom') }}<br/>
							{{ form_widget(form.userLivPrenom, {'attr': {'class': 'non_obligatoire'}}) }}
								<span>Vous devez entrer le prénom de la personne qui va recevoir l'article</span>
							{{ form_widget(form.userLivNom, {'attr': {'class': 'non_obligatoire'}}) }}
								<span>Vous devez entrer votre nom de famille de la personne qui va recevoir l'article</span><br/><br/>
							<!-- -->

							<!-- Téléphone -->
							{{ form_label(form.userLivTel, 'Téléphone') }}<br/>
							{{ form_widget(form.userLivTel, {'attr': {'value': '+33', 'maxlength':'12', 'type' : 'tel'}}) }}
								<span>Vous devez entrer uniquement des numéros dans ce champs (à l'excéption du +)</span><br/><br/>
							<!-- -->

							<!-- civilité -->
							{{ form_label(form.userLivCivilite, 'Civilité') }}<br/>
							{{ form_widget(form.userLivCivilite) }}<br/><br/>
							<!-- -->

							<!-- Rue -->
							{{ form_label(form.userLivAdresse, 'Rue') }}<br/>
							{{ form_widget(form.userLivAdresse, {'attr': {'class': 'non_obligatoire'}}) }}
								<span>N°, Nom, puis le n° du batiment si nécéssaire</span><br/><br/>
							<!-- -->

							<!-- Ville & Code Postal-->
							{{ form_label(form.userLivVille, 'Ville', {'label_attr': {'class': 'ville'}}) }}
							{{ form_label(form.userLivCodep, 'Code Postal') }}<br/>
							{{ form_widget(form.userLivVille, {'attr': {'class': 'non_obligatoire'}}) }}
							<span>Vous devez entrez le nom de la ville ou l'article sera livré</span>
							{{ form_widget(form.userLivCodep, {'attr': {'class': 'non_obligatoire', 'maxlength':'5'}}) }}
							<span>Vous devez renseigner le code postal de la ville ou l'articl doit être délivré (nombre à 5 chiffres)</span><br/><br/>
				        	<!-- -->

				        	<!-- Pays -->
				        	{{ form_label(form.userLivPays, 'Pays') }}<br/>
							{{ form_widget(form.userLivPays) }}<br/><br/>
							<!-- -->
					    	</fieldset>

					    	<fieldset>
					    	<legend><h4>Informations Facturation</h4></legend>

							<!-- Nom & Prénom -->
							{{ form_label(form.userFactPrenom, 'Prénom', {'label_attr': {'class': 'prenom'}}) }}
							{{ form_label(form.userFactNom, 'Nom') }}<br/>
							{{ form_widget(form.userFactPrenom, {'attr': {'class': 'non_obligatoire'}}) }}
								<span>Vous devez entrer le prénom de la personne qui va recevoir la facture</span>
							{{ form_widget(form.userFactNom, {'attr': {'class': 'non_obligatoire'}}) }}
								<span>Vous devez entrer votre nom de famille de la personne qui va recevoir la facture</span><br/><br/>
							<!-- -->

							<!-- Téléphone -->
							{{ form_label(form.userFactTel, 'Téléphone') }}<br/>
							{{ form_widget(form.userFactTel, {'attr': {'class': 'non_obligatoire', 'value': '+33', 'maxlength':'12'}}) }}
								<span>Vous devez entrer uniquement des numéros dans ce champs (à l'excéption du +)</span><br/><br/>
							<!-- -->

							<!-- civilité -->
							{{ form_label(form.userFactCivilite, 'Civilité') }}<br/>
							{{ form_widget(form.userFactCivilite) }}<br/><br/>
							<!-- -->

							<!-- Rue -->
							{{ form_label(form.userFactAdresse, 'Rue') }}<br/>
							{{ form_widget(form.userFactAdresse, {'attr': {'class': 'non_obligatoire'}}) }}
								<span>N°, Nom, puis le n° du batiment si nécéssaire</span><br/><br/>
							<!-- -->

							<!-- Ville & Code Postal -->
							{{ form_label(form.userFactVille, 'Ville', {'label_attr': {'class': 'ville'}}) }}
							{{ form_label(form.userFactCodep, 'Code Postal') }}<br/>
							{{ form_widget(form.userFactVille, {'attr': {'class': 'non_obligatoire'}}) }}
							<span>Vous devez entrez le nom de la ville ou la facture sera adressé</span>
							{{ form_widget(form.userFactCodep, {'attr': {'class': 'non_obligatoire', 'maxlength':'5'}}) }}
							<span>Vous devez renseigner le code postal de la ville (nombre à 5 chiffres)</span><br/><br/>
				        	<!-- -->

				        	<!-- Pays -->
				        	{{ form_label(form.userFactPays, 'Pays') }}<br/>
							{{ form_widget(form.userFactPays) }}<br/><br/>
							<!-- -->
					    	</fieldset>

					    	<fieldset>
						    	<legend><h4>Finaliser son inscription</h4></legend>

						    	<!-- Abonnements à la newsletter -->
								<input name="newsletter" type="checkbox" />Recevez notre newsletter, et soyez les premiers informés des nouveautés et actualités de l’enseigne.<br/><br/>
								<!-- -->
							</fieldset>


							<!-- Boutton validé -->
							<div class="boutton_inscription">
								<input type="submit" id="valider_les_modifs" value="Valider les modifications"/>
							</div>
							<!-- -->
						</form>
					</div>


					<!-- Bloc latéral d'inscription -->
					<div class="col-sm-4" id="compte_infos">

						<h4>Compléter son inscription à quoi ça sert ?</h4>
						<p>Imaginez que vous souhaitiez commandez en ligne sur notre site, ces informations deviennent obligatoires, en remplissant ce formulaire nous n'auront plus à vous les demander</p>
						<p>Sachez que nous nous engageons à garder ces informations strictement confidentielles.</p>
					</div>

	
				</div>

			</div>

		</div>

{% endblock %}
