{% extends 'NovifyFrontBundle::base.html.twig' %}
{% block main %}

		<!-- Body -->

		<div id="bloc_compte">

			<div class="container">
				
				<div class="row">

					<div class="col-sm-8" style="padding-right: 50px">
						<h3>Vos commandes</h3>
						
						<!-- On organise les articles en tableau -->


						<table> <!-- Premiere commande -->
							<thead> <!-- En-tête du tableau -->
							    <tr>
								    <th class="commande_numero">Commande n°3943</th>
								    <th class="commande_date">Du vendredi 24 octobre 2014</th>
								    <th class="commande_prix">87,43€</th>
							    </tr>
							</thead>

							<tbody> <!-- Détail de la commande-->
							    <tr>
							    	
							    	<td colspan="3">1 x Batman tome 1 - Bruce Wayne est un Thug</td>
							    </tr>
							    <tr>
							    	<td colspan="3">1 x Batman et Catwoman baisent avec Le Pingouin</td>
								
							    </tr>
							    
							</tbody>
						</table> <!-- Fin de la première commande-->


						<table> <!-- 2e commande -->
							<thead> <!-- En-tête du tableau -->
							    <tr>
								    <th class="commande_numero">Commande n°1943</th>
								    <th class="commande_date">Du samedi 18 septembre 2014</th>
								    <th class="commande_prix">17,00€</th>
							    </tr>
							</thead>

							<tbody> <!-- Détail de la commande-->
							    <tr>
							    	
							    	<td colspan="3">3 x string Catwoman Sexy</td>
							    </tr>
							    
							</tbody>
						</table> <!-- Fin de la 2e commande-->


						<table> <!-- 3e commande -->
							<thead> <!-- En-tête du tableau -->
							    <tr>
								    <th class="commande_numero">Commande n°4943</th>
								    <th class="commande_date">Du lundi 21 decembre 2013</th>
								    <th class="commande_prix">182,33€</th>
							    </tr>
							</thead>

							<tbody> <!-- Détail de la commande-->
							    <tr>
							    	
							    	<td colspan="3">1 x Batman tome 1 - Bruce Wayne est un chaud lapin</td>
							    </tr>

							    <tr>
							    	<td colspan="3">1 x The Dark Knight Rises - Collector Edition</td>
								
							    </tr>

							    <tr>
							    	<td colspan="3">5 x Masque de chauve souris</td>
								
							    </tr>

							    <tr>
							    	<td colspan="3">Batman tome 9 - La resurrection </td>
								
							    </tr>
							    
							</tbody>
						</table> <!-- Fin de la 3e commande-->




					</div>

					<!-- Bloc latéral de validation du panier -->
					<div class="col-sm-4" id="compte_infos">
						<div id="infos_generales">
							<h3>Informations personnelles</h3>
							<strong>{{app.user.userCivilite ~'. '~ app.user.userPrenom ~' '~ app.user.userNom}}</strong>
							<p>{{app.user.userMail}}</p>
						</div>

						<div id="adresse_livraison">
							
							<strong>Adresse de livraison</strong>

							{% if app.user.userLivNom is not null or app.user.userLivAdresse is not null %}

								<p>{{app.user.userLivCivilite ~'. '~ app.user.userLivPrenom ~' '~ app.user.userLivNom}}</p>
								<p>{{app.user.userLivAdresse}}</p>
								<p>{{app.user.userLivCodeP ~' '~ app.user.userLivVille}} </p>
								<p>{{app.user.userLivPays}}</p>

							{% else %}
							<p>Vous n'avez pas renseigné la totalité de vos informations de livraison</p>
							{% endif %}
						</div>

						<div id="adresse_facturation">
							<strong>Adresse de facturation</strong>

							{% if app.user.userFactNom is not null or app.user.userFactAdresse is not null %}
								<p>{{app.user.userFactCivilite ~'. '~ app.user.userFactPrenom ~' '~ app.user.userFactNom}}</p>
								<p>{{app.user.userFactAdresse}}</p>
								<p>{{app.user.userFactCodeP ~' '~ app.user.userFactVille}} </p>
								<p>{{app.user.userFactPays}}</p>

							{% else %}
							<p>Vous n'avez pas renseigné la totalité de vos informations de facturation</p>
							{% endif %}

						</div>

						<div id="modifier_infos">
							<a href="{{ path('novify_front_compte_modif') }}">Modifier</a>
						</div>
					</div>

				</div>

			</div>
			
		</div>

{% endblock %}
