{% extends 'NovifyFrontBundle::base.html.twig' %}
{% block main %}


		<!-- Body -->

		<div id="bloc_contact">

			<!-- Image choisie par l'utilisateur et modifiable dans le back office -->
			<div class="banniere_catalogue"> <!-- Banniere a actualiser selon la catégorie -->
				<img src="{{ asset('bundles/novifyfront/images/banniere-livres.jpg')}}" alt="">

				<div class="container"><!-- Fil d'ariane, liens et textes à générer depuis la bdd -->
					<h1><a href="#">Contact</a>
				</div>

			</div>

			<div class="container" id="bloc_contact" style="width:100%">
				<div class="row">

					<div class="col-sm-8"> <!-- Bloc de gauche (information et contact) -->

						<div class="row" id="mail_contact"> <!-- Envoyez un mail direcetement depuis le site grâce à un formulaire -->
							<div class="col-sm-12">
								<h3>Nous écrires :</h3>

								<p>Vous pourrez bientôt nous envoyez un mail ici !</p>
							</div>
						</div> <!-- Fin zone mail -->


						<div class="row" id="boutique_produits"> <!-- Informations sur la boutique -->
							<div class="col-sm-12">

								<h3>La boutique</h3>

								<div class="row">
									<p>Le saviez-vous ? Nous avons aussi une boutique, et elle est à Paris ! N'hésitez pas à venir nous voir</p>

									<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20999.550226356612!2d2.3858124550031774!3d48.85928246926929!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66d8f6e8490fb%3A0xbbd5deb4fcf23e3!2sBATMAN+SERVICE!5e0!3m2!1sfr!2sfr!4v1414843086784" width="800" height="600" frameborder="0" style="border:0"></iframe> <!-- Carte Google maps de la boutique -->
								</div>
							</div>
						</div> <!-- Fin informations sur la boutique -->

					</div>

					<div class="col-sm-4"> <!-- Bloc de droite (Newsletter et Réseaux Sociaux) -->
						
						<div class="row" id="newsletter_contact"> <!-- Envoyez un mail direcetement depuis le site grâce à un formulaire -->
							<div class="col-sm-12">
								<h3>Recevez notre newsletter :</h3>

								<p>Vous pourrais suivre toute l'actualité, les nouveaux produits, les promos du mois ect ... !</p>

								<!-- Formulaire d'inscription à la newsletter -->
								<form method="post" action="#">
									<p><input type="text" name="mail" placeholder="Votre adresse e-mail"/></p>
								</form>
							</div>
						</div> <!-- Fin zone newsletter -->

						<div class="row" id="newsletter_contact"> <!-- Envoyez un mail direcetement depuis le site grâce à un formulaire -->
							<div class="col-sm-12">
								<h3>N'hésitez pas à nous suivre sur les réseaux sociaux !</h3>

								<div class="rs">
									<div class="instagram">
										<a href="#"><img src="{{ asset('bundles/novifyfront/images/pictogrammes/vierge.png')}}" alt="image vide"></a>
									</div>
									<div class="pinterest">
										<a href="#"><img src="{{ asset('bundles/novifyfront/images/pictogrammes/vierge.png')}}" alt="image vide"></a>
									</div>
									<div class="twitter">
										<a href="#"><img src="{{ asset('bundles/novifyfront/images/pictogrammes/vierge.png')}}" alt="image vide"></a>
									</div>
									<div class="facebook">
										<a href="#"><img src="{{ asset('bundles/novifyfront/images/pictogrammes/vierge.png')}}" alt="image vide"></a>
									</div>
								</div>
							</div>
							
						</div> <!-- Fin zone newsletter -->

					</div>

				</div>
			</div>

		</div>

{% endblock %}
