{% extends 'NovifyFrontBundle::base.html.twig' %}
{% block main %}


		<!-- Body -->

		<div id="bloc_ficheproduit">

			<!-- Image choisie par l'utilisateur et modifiable dans le back office -->
			<div class="banniere_catalogue"> <!-- Banniere a actualiser selon la catégorie -->
{% if article.sousCategorie.categorie.catBannierePath is not null %}
				<img src="{{ asset(article.sousCategorie.categorie.getWebPath) }}" alt=""/>

{% endif %}
				<div class="container"><!-- Fil d'ariane, liens et textes à générer depuis la bdd -->
					<h1><a href="{{ path('novify_front_view_categorie', {'categorie': article.sousCategorie.categorie.catNom}) }}">{{ article.sousCategorie.categorie.catNom }}</a> > <a href="{{ path('novify_front_view_souscategorie', {'categorie': article.sousCategorie.categorie.catNom, 'sousCategorie': article.sousCategorie.souscatNom}) }}">{{article.sousCategorie.souscatNom}}</a></h1>
				</div>

			</div>

			<div class="container" id="bloc_produit" style="width:100%">

				<div class="row">

					<div class="col-sm-6 image_ficheproduit">
						<img src="{{ asset(article.getWebPath) }}" alt="">
					</div>

					<div class="col-sm-6">
						<div class="row">
							<h2> <!-- Titre du produit-->
								{{article.artNom}}
							</h2>

							<h3 id="ref_ficheproduit">{{article.artRef}}</h3>

							<p class="description_ficheproduit"><!-- Description du produit-->
								{{article.artDescript}}
							</p>

							<p> <!-- Ancre vers les détails du produit plus bas dans la page -->
								<a href="#details_produit">Voir les détails du produit</a>
							</p>

							<p class="dispo_ficheproduit"> <!-- Stock du produit-->
								Disponibilité : <div class="variable_dispo" {% if article.artStock <= '10' %} style="color: red;" {% endif %}> {{article.artStock}}</div>
							</p>

							<p class="prix_ficheproduit"> <!-- Prix du produit-->
								{{article.artPrix}} €
							</p>

							<div id="ajout_panier">
								<a href="#test-popup" class="open-popup-link">Ajouter au panier</a></div> <!--Ce lien ajoute en SESSION l'article au panier -->
							</div>

								<!-- Popup -->
								<div id="test-popup" class="white-popup mfp-hide">
									<div id="produit_popup">
										<div class="popup_header">
											<h3>Ajout d'un nouvel article au panier</h3>
										</div>

										<div class="popup_body">
											<img style="width:120px;" src="{{ asset('bundles/novifyfront/images/article1.jpg')}}" alt="">
											<h4> <!-- Titre du produit-->
												{{article.artNom}}
											</h4>
											<p class="prix_produit_popup"> <!-- Prix du produit-->
												{{article.artPrix}}€
											</p>
											<p class="quantite_produit_popup"> <!-- Quantité choisi par l'internaute -->
												Quantité : 1
											</p>
											<p class="confirmation_produit_popup">L'article à bien été ajouté au panier !</p>
										</div>

										<div class="popup_footer">
											<a href="{{ path('novify_front_panier') }}">Voir mon panier</a>
											<a href="#" class="boutique">Retournez à la boutique</a>
										</div>
									</div>
								</div>
								<!-- Fin popup -->

								<script type="text/javascript">
									$('.open-popup-link').magnificPopup({
									  type:'inline',
									  midClick: true
									});
								</script>

							<div id="retrait_magasin">
								<a href="#">Retrait en magasin</a>
							</div>

							<p><a href="commentaires_article">Voir les commentaires sur ce produit</a></p>

						</div> <!-- Fin description -->

						<div class="row" id="details_produit"> <!-- Description plus précise de l'article-->

							<h3>Détails sur le produit</h3>

							{% if article.artPublic is not null %}
								<p><b>Public: </b> {{article.artPublic}}</p>
							{% endif %}

							{% if article.artAuteur is not null %}
								<p><b>Auteur: </b> {{article.artAuteur}}</p>
							{% endif %}

							{% if article.artEditeur is not null %}
								<p><b>Editeur: </b> {{article.artEditeur}}</p>
							{% endif %}

							 {% if article.artDateSortie is not null %}
								<p><b>Date de sortie: </b> {{article.artDateSortie|date("m/d/Y")}}</p>
							{% endif %} 

							{% if article.artIsbn is not null %}
								<p><b>ISBN: </b> {{article.artIsbn}}</p>
							{% endif %}

							{% if article.artPages is not null %}
								<p><b>Nombre de pages: </b> {{article.artPages}}</p>
							{% endif %}

							{% if article.artGenre is not null %}
								<p><b>Genre: </b> {{article.artGenre}}</p>
							{% endif %}

							{% if article.artPlateforme is not null %}
								<p><b>Plateforme: </b> {{article.artPlateforme}}</p>
							{% endif %}

							{% if article.artRealisat is not null %}
								<p><b>Réalisateur: </b> {{article.artRealisat}}</p>
							{% endif %}

							{% if article.artCasting is not null %}
								<p><b>Casting: </b> {{article.artCasting}}</p>
							{% endif %}

							{% if article.artDuree is not null %}
								<p><b>Durée: </b> {{article.artDuree}}</p>
							{% endif %}

						</div> <!-- Fin description -->
					</div> <!-- Fin col-sm-6 -->
				</div> <!-- Fin row principal -->






				<div class="row" id="commentaires_article"> <!-- Comments -->

					<div class="col-sm-12">

						<h3>Commentaires</h3>

						<p>Moyenne des commentaires : <b>X/5</b></p> <!-- A calculer via calcul de la bdd -->

						<p style="margin-bottom: 40px">{{ commentaires|length }} commentaires rédigés</p> <!-- Nombre a récupérer selon le nombre d'entrées dans la bdd -->


						<!-- Boucle des commentaires -->

{% for commentaire in commentaires  %}

						<div class="row bloc_commentaire"> <!-- Commentaire le plus récent-->

							<div class="col-sm-3">
								<p><b>Note:</b> {{commentaire.commentNote}}/5</p> <!-- Note donnée dans ce commentaire-->
								<p>Par {{commentaire.utilisateur.userPrenom}} {{commentaire.utilisateur.userNom}}</p> <!-- Auteur du comment-->
								<p>Le {{commentaire.commentDate|date("m/d/Y")}}</p>
							</div>

							<div class="col-sm-9">
								<p>
									{{commentaire.commentTexte}}
								</p>
							</div>

						</div>

{% endfor %}

{% if app.user is not null %}	<!-- Formulaire seulement si on est connecté-->
					
						<fieldset class="formulaire_commentaires">

							<legend><h4>Laisser un commentaire</h4></legend>
							{{ form_start(form, {'method': 'POST', 'attr': {'id': 'formulaire'}}) }}

							<!-- Commentaire -->
							{{ form_label(form.commentTexte, 'Texte', {'label_attr': {'class':'commentaire'}}) }}<br/>
							{{ form_widget(form.commentTexte) }}<br/><br/>
							<!-- -->
							<!-- Note -->
							{{ form_label(form.commentNote, 'Note', {'label_attr': {'class':'commentaire'}}) }}<br/>
							{{ form_widget(form.commentNote) }}<br/><br/>
							<!-- -->

							    <input type="submit" value="Commenter"/>

							{{ form_end(form) }}


						</fieldset>
						<!--  -->

{% else %}
						<p>Vous devez vous connecter pour poster des commentaires</p>
						<p><a href="{{ path('login') }}">Connectez-vous</a> ou <a href="{{ path('inscription') }}">créez vous un compte</a>.</p>
{% endif %}

					</div>

				</div> <!-- Fin commentaires -->


				<div class="row" id="suggestions_produits"> <!-- Sugestions de produits complémentaires -->

					<div class="col-sm-12">

						<h3>Complétez votre commande</h3>

						<div class="row ligne_articles"> <!-- On créé une seule ligne-->
							<div class="col-md-12">

								<div class="row">


{% for suggestion_article in suggestion_articles %}

									<div class="col-md-3 col-sm-6 col-xs-12 article"> <!-- Premier article de la ligne-->

										<div class="article_image"> <!-- Image de l'article-->
											<a href="#">
												<img src="{{ asset(suggestion_article.getWebPath) }}" alt="">
											</a>
										</div>

										<h5><a href="#">{{suggestion_article.artNom}}</a></h5> <!-- Prix et nom de l'article -->
										<p><a href="">{{suggestion_article.artPrix}} €</a></p>
									</div> <!-- Fin du premier article-->



{% endfor %}

								</div>

							</div>

						</div>


					</div>

				</div> <!-- Fin suggestion produits-->





			</div>
		</div>

{% endblock %}
