{% extends 'NovifyFrontBundle::base.html.twig' %}
{% block main %}
	<!-- Body -->

	
		<!-- Carousel -->
		<div id="carrousel">
		

			<div id="box">

				{% for caroussels in caroussels  %}

					<a href="{{caroussels.carLien}}" class="slide">
						<img src="{{ asset(caroussels.getWebPath)}}" alt="carousel" title="" />
					</a> <!-- Le nom de l'image est à chercher dans la bdd-->
				
				{% endfor %}

		        
		    </div>
		</div>
		<!-- Fin Carousel -->

		<!-- Bloc -->
		<div class="bloc">
			<div class="container">
				<div class="row">

					<div class="col-md-8">
						<a href="{{path('novify_front_nouveaute')}}">
							<div class="row">
								<div class="col-md-12">
									<div class="news">
										<p>NOUVEAUTÉS</p>
									</div>
								</div>
							</div>
						</a>
						<div class="row">
							<div class="col-md-6">
								<a href="{{path('novify_front_selection')}}">
									<div class="coupcoeur">
										<p>NOTRE<br/>SELECTION</p>
									</div>
								</a>
							</div>
							<div class="col-md-6">
								<a href="{{path('novify_front_promo')}}">
									<div class="promo">
										<p>PROMOS</p>
									</div>
								</a>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<a href="{{path('novify_front_top')}}">
							<div class="top_ventes">
								<p>TOP DES VENTES</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- Fin Bloc -->
{% endblock %}
