<html lang="fr">
	<head>
		
		<!--[if lt IE 9]>
	    	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<meta charset="utf-8">
		<title>Batmania</title>

		<!-- Feuilles de style -->
		<link rel="stylesheet" href="{{ asset('bundles/novifyfront/css/bootstrap-theme.css')}}"/>
		<link rel="stylesheet" href="{{ asset('bundles/novifyfront/css/bootstrap.css')}}"/>
		<link rel="stylesheet" href="{{ asset('bundles/novifyfront/css/style.css')}}"/>
		<link rel="stylesheet" href="{{ asset('bundles/novifyfront/css/menu/menu-mobile.css')}}"/>

		<!-- Js -->
		<script src="js/jquery.nav.min.js"></script>

		<!-- Favicon -->
		<link rel="icon" href="#" sizes="32x32">
	    <link rel="icon" href="#" sizes="64x64">

		<!-- Google Font -->

	</head>



	<body>	

	<!-- Header -->				
		<div class="container">

			<header>

				<!-- Logo -->
				<div class="logo">
					<a href="../controler/c_index.php"><img src="{{ asset('bundles/novifyfront/images/logo.png')}}" alt="Logo Batmania"></a>
				</div>

				<div class="row">
					<div class="client">
						<form method="post" action="recherche.php">
							<input type="text" name="rechercher" placeholder="Rechercher.."/><img src="{{ asset('bundles/novifyfront/images/picto3.png')}}" alt="picto barre de recherche">
						</form>
						<a href="../controler/c_index.php"><img src="{{ asset('bundles/novifyfront/images/picto2.png')}}" alt="picto tête de batman">Mon compte</a>
						<a href="../controler/c_index.php"><img src="{{ asset('bundles/novifyfront/images/picto1.png')}}" alt="picto panier">Mon panier</a>
					</div>
				</div>


				<!-- Nav -->
				<div class="row">
					<nav id="nav" class="skel-layers-fixed">
						<ul>					
							<li class="current"><a href="../controler/c_index.php">Accueil</a></li>

							<a href="../controler/c_catalogue.php">Livres</a>
								<ul>
									<li><a href="../controler/c_catalogue.php">Comics</a></li>
		                    		<li><a href="../controler/c_catalogue.php">BD</a></li>
		         	          		<li><a href="../controler/c_catalogue.php">Manga</a></li>
		                    		<li><a href="../controler/c_catalogue.php">Hors Série</a></li>
		                    		<li><a href="../controler/c_catalogue.php">Roman</a></li>
								</ul>

							<a href="../controler/c_catalogue.php">Vidéos</a>
								<ul>
									<li><a href="../controler/c_catalogue.php">Films</a></li>
		                    		<li><a href="../controler/c_catalogue.php">Série TV</a></li>
		                    		<li><a href="../controler/c_catalogue.php">Dessins animés</a></li>
								</ul>

							<a href="../controler/c_catalogue.php">Jeux-Vidéos</a>
								<ul class="sous_categorie">
									<li><a href="../controler/c_catalogue.php">PC</a></li>
		                    		<li><a href="../controler/c_catalogue.php">Playstation</a></li>
		                    		<li><a href="../controler/c_catalogue.php">Xbox</a></li>
		                    		<li><a href="../controler/c_catalogue.php">Nintendo</a></li>
								</ul>
							<a href="../controler/c_catalogue.php">Goodies</a>
								<ul class="sous_categorie">
									<li><a href="../controler/c_catalogue.php">Accessoires</a></li>
		                    		<li><a href="../controler/c_catalogue.php">Figurines</a></li>
		                    		<li><a href="../controler/c_catalogue.php">Cosplays/Déguisements</a></li>
								</ul>
							<li><a href="../controler/c_contact.php">Contact</a></li>
						</ul>
					</nav>
				</div>
			<!-- Fin nav -->

			</header>
		</div>
	<!-- Fin Header -->
			
	
	<!-- Body -->
		
		<!-- Carousel -->
		<div class="carousel">
			<img src="{{ asset('bundles/novifyfront/images/carousel1.png')}}" alt="image_info_carousel">
		</div>
		<!-- Fin Carousel -->

		<!-- Bloc -->
		<div class="bloc">
			<div class="container">
				<div class="row">
					
						<div class="col-lg-8">
							<div class="row">
								<div class="col-lg-12">
									<div class="news">
										Bientôt les News Posey
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6">
									<div class="comics">
										Bientôt des comics et des chats					
									</div>
								</div>
								<div class="col-lg-6">
									<div class="film">
										Bientôt des films de ta mère
									</div>
								</div>
							</div>
						</div>

					<div class="col-lg-4">
						<div class="top_ventes">
							Bientôt les ventes et l'oseil
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- Fin Bloc -->
	
	

	<!-- Fin Body -->


	<!-- Footer -->
	<footer>
			<img src="{{ asset('bundles/novifyfront/images/footer.png')}}" alt="background du footer">
	</footer>
	<!-- Fin Footer -->
	

			
	</body>
</html>