{% extends 'NovifyFrontBundle::base.html.twig' %}
{% block main %}
	<!-- Body -->

	<!-- liens js pour le carousel -->
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/novifyfront/carousel/style.css')}}" />
	<script type="text/javascript" src="{{ asset('bundles/novifyfront/carousel/jquery.js')}}"></script>
	<!-- Fin liens js -->

		<!-- Carousel -->
		<div class="carousel">
			<div id="wowslider-container1">
				<div class="ws_images">
					<ul>
						<li><img src="{{ asset('bundles/novifyfront/images/carousel1.png')}}" alt="carousel1" title="" id="wows1_0"/></li>
						<li><img src="{{ asset('bundles/novifyfront/images/carousel2.png')}}" alt="carousel2" title="" id="wows1_1"/></li>
						<li><a href="#"><img src="{{ asset('bundles/novifyfront/images/carousel3.png')}}" alt="wowslider" title="" id="wows1_2"/></a></li>
						<li><img src="{{ asset('bundles/novifyfront/images/carousel4.png')}}" alt="carousel4" title="" id="wows1_3"/></li>
					</ul>
				</div>
				<div class="ws_bullets">
					<div>
						<a href="#" title="carousel1"><img src="{{ asset('bundles/novifyfront/images/tooltips/carousel1.png')}}" alt="carousel1"/>1</a>
						<a href="#" title="carousel2"><img src="{{ asset('bundles/novifyfront/images/tooltips/carousel2.png')}}" alt="carousel2"/>2</a>
						<a href="#" title="carousel3"><img src="{{ asset('bundles/novifyfront/images/tooltips/carousel3.png')}}" alt="carousel3"/>3</a>
						<a href="#" title="carousel4"><img src="{{ asset('bundles/novifyfront/images/tooltips/carousel4.png')}}" alt="carousel4"/>4</a>
					</div>
				</div>
			</div>	
			<script type="text/javascript" src="{{ asset('bundles/novifyfront/carousel/wowslider.js')}}"></script>
			<script type="text/javascript" src="{{ asset('bundles/novifyfront/carousel/script.js')}}"></script>
		</div>
		<!-- Fin Carousel -->

		<!-- Bloc -->
		<div class="bloc">
			<div class="container">
				<div class="row">

					<div class="col-md-8">
						<div class="row">
							<div class="col-md-12">
								<div class="news">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="coupcoeur">
								</div>
							</div>
							<div class="col-md-6">
								<div class="promo">
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="top_ventes">
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- Fin Bloc -->
{% endblock %}
