{% extends 'NovifyFrontBundle::base.html.twig' %}
{% block main %}

		<!-- Body -->

		<div id="bloc_panier">

			<div class="container">
				
				<div class="row">

					<div class="col-sm-8">
						<h3>Vos articles au panier</h3>
						
						<!-- On organise les articles en tableau -->
						<table>
							<thead> <!-- En-tête du tableau -->
							    <tr>
								    <th colspan="2">Produit</th>
								    <th>Prix</th>
								    <th colspan="2">Quantité</th>
							    </tr>
							</thead>

							<tbody>
							    <tr>
							    	<!-- Premier article -->
							    	<!-- Image du produit -->
							    	<td style="width:10%"><img src="{{ asset('bundles/novifyfront/images/article1.jpg')}}" alt=""></td>
									
									<!-- Nom du produit -->
								    <td style="width:50%"><a href="">Batman tome 2 - La nuit des hiboux</a></td>
									
									<!-- Prix du produit -->
								    <td style="width:20%; color:#4f9649;">19.00€</td>
									
									<!-- Quantité choisie -->
								    <td style="width:10%"><form method="post" action="#">
										   
										      <label>Quantité:</label> <select name="quantite" id="quantite">
										           <option value="1">1</option>
										           <option value="2">2</option>
										           <option value="3">3</option>
										           <option value="4">4</option>
										           <option value="5">5</option>
										           
										       </select>

										   
							</form></td>
								
									<!-- Supprimer les articles -->
								    <td><a class="supprimer" href="#">Supprimer</a></td>
							    </tr>



							    <tr>
							    	<!-- deuxième article -->
							    	<!-- Image du produit -->
							    	<td style="width:10%"><img src="{{ asset('bundles/novifyfront/images/article2.jpg')}}" alt=""></td>
									
									<!-- Nom du produit -->
								    <td style="width:50%"><a href="">Batman tome 3 - La nuit de Pimolo</a></td><!-- Lien vers l'article -->
									
									<!-- Prix du produit -->
								    <td style="width:20%; color:#4f9649;">14.00€</td>
									
									<!-- Quantité choisie -->
								    <td style="width:10%"><form method="post" action="#">
										   
										      <label>Quantité:</label> <select name="quantite" id="quantite">
										           <option value="1">1</option>
										           <option value="2">2</option>
										           <option value="3">3</option>
										           <option value="4">4</option>
										           <option value="5">5</option>
										           
										       </select>

										   
							</form></td>
								
									<!-- Supprimer les articles -->
								    <td><a class="supprimer" href="#">Supprimer</a></td>
							    </tr>
							</tbody>
						</table>

					</div>

					<!-- Bloc latéral de validation du panier -->
					<div class="col-sm-4">
						<div id="panier_total">
							<p>Sous total :</p>
							<p id="sous_total">47.00€</p>

							<div class="lien_popup"><a href="#test-popup" class="open-popup-link">Passez la commande</a></div>

							
								<!-- Popup -->
								<div id="test-popup" class="white-popup mfp-hide">
									<div id="panier_popup">
										<div class="etape1">
										  	<div class="popup_header">
												<h1><span class="actif">CONNEXION</span> >> PAIEMENT >> COMMANDEZ!</h1>
											</div>

											<div class="popup_body">
												<form id="formulaire" method="post" action="#">
													<strong>J'ai déjà un compte</strong>
													<input type="radio" name="teakts" value="oui" id="oui" onClick="afficher();" /> <br />
													<strong>Je n'ai pas encore de compte</strong>
													<input type="radio" name="teakts" value="non" onClick="afficher2();" id="non"/><br/>
													 
													 
													 
													<p id="champ_cache" style="margin-top: 30px;">
													<label for="identifiant">Adresse Mail</label><br/>
													<input type="text" name="identifiant"/ required><br/>
													<label for="identifiant">Mot de passe</label><br/>
													<input type="text" name="mdp" required/><br/><br/>
													<a href="#">mot de passe oublié ?</a><br/>
													<input type="submit" value="Se connecter" />
													</p>

													<p id="champ_cache2" style="margin-top: 30px;">
													Pas encore de compte :
													<input type="submit" value="Inscrivez-vous" />
													</p>
												</form>
											</div>

											<div class="popup_footer">
												<a href="#" id="suivante_1" style="float:right;">Etape suivante >></a>
											</div>
										</div>

										

										<div class="etape2">
										  	<div class="popup_header">
												<h1>CONNEXION >> <span class="actif">PAIEMENT</span> >> COMMANDEZ!</h1>
											</div>

											<div class="popup_body">
												<form id="formulaire" method="post" action="#">
													<strong>Veuillez renseignez vos coordonnées bancaires</strong>
													<p>
														<form id="formulaire" method="POST" action="#"> 
														<fieldset>
													    <legend>Informations CB</legend>
													    <ol>
													      <li>
													          <label for="type_de_carte" style="width:200px;">Type de carte bancaire</label>
													          <ol>
													            <li>
													              <input name="type_de_carte" type="radio">
													              <label for="visa">VISA</label>
													            </li>
													            <li>
													              <input name="type_de_carte" type="radio">
													              <label for="amex">AmEx</label>
													            </li>
													            <li>
													              <input name="type_de_carte" type="radio">
													              <label for="mastercard">Mastercard</label>
													            </li>
													          </ol>
													      </li>
													      <li>
													        <label for="numero_de_carte">N° de carte</label>
													        <input name="numero_de_carte" type="texte" required>
													      </li>
													      <li>
													        <label for="securite">Code sécurité</label>
													        <input name="securite" type="number" required>
													      </li>
													      <li>
													        <label for="nom_porteur">Nom du porteur</label>
													        <input name="nom_porteur" type="text" required>
													      </li>
													    </ol>
													  </fieldset></p>
												</form>
											</div>

											<div class="popup_footer">
												<a href="#" id="precedente_1" style="float:left;"><< Etape Précédente</a>
												<a href="#" id="suivante_2" style="float:right">Etape suivante >></a>
											</div>
										</div>

										

										<div class="etape3">
										  	<div class="popup_header">
												<h1>CONNEXION >> PAIEMENT >> <span class="actif"> COMMANDEZ! </span></h1>
											</div>

											<div class="popup_body">
												<h3>Voici votre commande : </h3>
								
												<!-- On organise les articles en tableau -->
												<table>
													<thead> <!-- En-tête du tableau -->
													    <tr>
														    <th colspan="2">Produit</th>
														    <th>Prix</th>
														    <th colspan="2">Quantité</th>
													    </tr>
													</thead>

													<tbody>
														<tr>
													    	<!-- Premier article -->
													    	<!-- Image du produit -->
													    	<td style="width:10%"><img style="width:50px;" src="{{ asset('bundles/novifyfront/images/article1.jpg')}}" alt=""></td>
															
															<!-- Nom du produit -->
														    <td style="width:80%">Batman tome 2 - La nuit des hiboux</td>
															
															<!-- Prix du produit -->
														    <td style="width:10%; color:#4f9649;">19.00€</td>
															
															<!-- Quantité choisie -->
														    <td style="width:10%"><p style="text-align:center;">1</p></td>
													    </tr>



													    <tr>
													    	<!-- deuxième article -->
													    	<!-- Image du produit -->
													    	<td style="width:10%;"><img style="width:50px;margin-right:2px;" src="{{ asset('bundles/novifyfront/images/article2.jpg')}}" alt="image de l'article"></td>
															
															<!-- Nom du produit -->
														    <td style="width:80%">Batman tome 3 - La nuit de Pimolo</td><!-- Lien vers l'article -->
															
															<!-- Prix du produit -->
														    <td style="width:20%; color:#4f9649;">14.00€</td>
															
															<!-- Quantité choisie -->
														    <td style="width:10%"><p style="text-align:center;">1</p></td>
													    </tr>

													</tbody>
												</table>

												<a href="{{ asset('app_dev.php/boutique/')}}" class="commandez">VALIDEZ LA COMMANDE !</a>
											</div>

											<div class="popup_footer">
												<a href="#" id="precedente_2" style="float:left;"><< Etape Précédente</a>
											</div>
										</div>
									</div>
								</div>
								<!-- Fin popup -->
								
								<script type="text/javascript">

								document.getElementById("champ_cache").style.display = "none";		 
										function afficher()
										{
										    document.getElementById("champ_cache").style.display = "block";
										    document.getElementById("champ_cache2").style.display = "none";
										}
								document.getElementById("champ_cache2").style.display = "none";		 
										function afficher2()
										{
										    document.getElementById("champ_cache2").style.display = "block";
										    document.getElementById("champ_cache").style.display = "none";
										}

									$('.open-popup-link').magnificPopup({
									  type:'inline',
									  midClick: true 
									});
								</script>

						</div>
					</div>

				</div>
		


				<div class="row" id="suggestions_produits"> <!-- Sugestions de produits complémentaires -->

					<div class="col-sm-12">

						<h3>Complétez votre commande</h3>

						<div class="row ligne_articles"> <!-- On créé une seule ligne-->
							<div class="col-md-12">

								<div class="row">

{% for suggestion_article in suggestion_articles %}
	
									<div class="col-md-3 col-sm-6 col-xs-12 article"> <!-- Un article -->

										<div class="article_image"> <!-- Image de l'article-->
											<a href=""><img src="{{ asset(suggestion_article.getWebPath) }}" alt=""></a>
										</div>

										<h5><a href="#">{{suggestion_article.artNom}}</a></h5> <!-- Prix et nom de l'article -->
										<p><a href="">{{suggestion_article.artPrix}}</a></p>
									</div> <!-- Fin du premier article-->

{% endfor %}

									

								</div>

							</div>

						</div>


					</div>

				</div> <!-- Fin suggestion produits-->


			</div>
			
		</div>

{% endblock %}
