{% extends 'NovifyFrontBundle::base.html.twig' %}
{% block main %}

		<!-- Body -->

		<div id="bloc_panier">

			<div class="container">
				
				<div class="row">

					<div class="col-sm-8">
						<h3>Vos articles au panier</h3>
						
						<!-- On organise les articles en tableau -->
						<table>
							<thead> <!-- En-tête du tableau -->
							    <tr>
								    <th colspan="2">Produit</th>
								    <th>Prix</th>
								    <th colspan="2">Quantité</th>
							    </tr>
							</thead>

							<tbody>
							    <tr>
							    	<!-- Premier article -->
							    	<!-- Image du produit -->
							    	<td style="width:10%"><img src="{{ asset('bundles/novifyfront/images/article1.jpg')}}" alt=""></td>
									
									<!-- Nom du produit -->
								    <td style="width:50%"><a href="">Batman tome 2 - La nuit des hiboux</a></td>
									
									<!-- Prix du produit -->
								    <td style="width:20%; color:#4f9649;">19.00€</td>
									
									<!-- Quantité choisie -->
								    <td style="width:10%"><form method="post" action="#">
										   
										      <label>Quantité:</label> <select name="quantite" id="quantite">
										           <option value="1">1</option>
										           <option value="2">2</option>
										           <option value="3">3</option>
										           <option value="4">4</option>
										           <option value="5">5</option>
										           
										       </select>

										   
							</form></td>
								
									<!-- Supprimer les articles -->
								    <td><a class="supprimer" href="#">Supprimer</a></td>
							    </tr>



							    <tr>
							    	<!-- deuxième article -->
							    	<!-- Image du produit -->
							    	<td style="width:10%"><img src="{{ asset('bundles/novifyfront/images/article2.jpg')}}" alt=""></td>
									
									<!-- Nom du produit -->
								    <td style="width:50%"><a href="">Batman tome 3 - La nuit de Pimolo</a></td><!-- Lien vers l'article -->
									
									<!-- Prix du produit -->
								    <td style="width:20%; color:#4f9649;">14.00€</td>
									
									<!-- Quantité choisie -->
								    <td style="width:10%"><form method="post" action="#">
										   
										      <label>Quantité:</label> <select name="quantite" id="quantite">
										           <option value="1">1</option>
										           <option value="2">2</option>
										           <option value="3">3</option>
										           <option value="4">4</option>
										           <option value="5">5</option>
										           
										       </select>

										   
							</form></td>
								
									<!-- Supprimer les articles -->
								    <td><a class="supprimer" href="#">Supprimer</a></td>
							    </tr>
							</tbody>
						</table>

					</div>

					<!-- Bloc latéral de validation du panier -->
					<div class="col-sm-4">
						<div id="panier_total">
							<p>Sous total :</p>
							<p id="sous_total">47.00€</p>

							<!-- Modal Box -->
							<div class="commandez">
								<div class="modal_box">
									<dialog id="window">
										<div class="modal_header">
											<h1><div class="actif">CONNECTION</div> >> PAIEMENT >> COMMANDEZ!</h1>
										</div>
										<section>
											<div class="etape1">
												<form method="post" action="#">
													indentifiant : <input type="text" name="identifiant" placeholder="Votre Identifiant"/><br/>
													Mot de passe : <input type="text" name="identifiant" placeholder="Votre mot de passe"/><br/>
													<div class="faux_liens">mot de passe oublié ?</div>
													<div class="boutton"><input type="submit" value="Se connecter" /></div>
												</form>
												<form method="post" action="#">
													Pas encore de compte :
													<div class="boutton"><input type="submit" value="Inscrivez-vous" /></div>
												</form>
										</section>
										<div class="modal_footer">
											</div>
											<button id="exit">Retour aux panier</button>
										</div>
									</dialog>
									<button id="open">Passez la commande</button>
								</div>
							</div>
							<!-- Fin Modal Box -->
								
								<script type="text/javascript">
								(function() {
								   	var dialog = document.getElementById('window');
									document.getElementById('open').onclick = function() {
										dialog.show();
									};
									document.getElementById('exit').onclick = function() {
										dialog.close();
									};
								})();
								</script>

						</div>
					</div>

				</div>
		


				<div class="row" id="suggestions_produits"> <!-- Sugestions de produits complémentaires -->

					<div class="col-sm-12">

						<h3>Complétez votre commande</h3>

						<div class="row ligne_articles"> <!-- On créé une seule ligne-->
							<div class="col-md-12">

								<div class="row">

									<div class="col-md-3 col-sm-6 col-xs-12 article"> <!-- Premier article de la ligne-->

										<div class="article_image"> <!-- Image de l'article-->
											<a href="#"><img src="{{ asset('bundles/novifyfront/images/article1.jpg')}}" alt=""></a>
										</div>

										<h5><a href="#">Titre article</a></h5> <!-- Prix et nom de l'article -->
										<p><a href="">X €</a></p>
									</div> <!-- Fin du premier article-->


									<div class="col-md-3 col-sm-6 col-xs-12 article"> <!-- 1 article -->

										<div class="article_image"> <!-- Image article -->
											<a href="#"><img src="{{ asset('bundles/novifyfront/images/article2.jpg')}}" alt=""></a>
										</div>

										<h5><a href="#">Titre article</a></h5> <!-- Titre et prix de l'article -->
										<p><a href="">X €</a></p>
									</div> <!-- Fin de l'article -->


									<div class="col-md-3 col-sm-6 col-xs-12 article"> <!-- 1 article -->

										<div class="article_image"> <!-- Image article -->
											<a href="#"><img src="{{ asset('bundles/novifyfront/images/article3.jpg')}}" alt=""></a>
										</div>

										<h5><a href="#">Titre article</a></h5> <!-- Titre et prix de l'article -->
										<p><a href="">X €</a></p>
									</div> <!-- Fin de l'article -->


									<div class="col-md-3 col-sm-6 col-xs-12 article"> <!-- 1 article -->

										<div class="article_image">
											<img src="{{ asset('bundles/novifyfront/images/article4.jpg')}}" alt="">
										</div>

										<h5><a href="#">Titre article</a></h5> <!-- Titre et prix de l'article -->
										<p><a href="">X €</a></p>
									</div> <!-- Fin de l'article -->


								</div>

							</div>

						</div>


					</div>

				</div> <!-- Fin suggestion produits-->


			</div>
			
		</div>

{% endblock %}
