<body>
<p>Nom : {{article.artNom}}</p>
<p>Prix : {{article.artPrix}}</p>
<p>Description : {{article.artDescript}}</p>
<p>Quantité : {{article.artStock}}</p>
<p>Catégorie : {{article.categorie.catNom}}</p>
</body>
