{% extends 'NovifyBackBundle::base.html.twig' %}
{% block main %}




    <article>
        <div class="container catagories">
            <h1>Carrousel</h1> <!-- Titre de la section -->
            
            <!-- Ajouter une catégorie -->
            <p class="ajouter"><a href="{{ path('novify_back_caroussel_add') }}"><i class="glyphicon-plus"></i> Ajouter</a></p>


            <table>

                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Lien</th>
                        <th>Image</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>
                    </tr>
                </thead>

                <tbody>


{% for caroussels in caroussels  %}

                    <tr>
                        <td>{{ caroussels.id }}</td>
                        <td>{{ caroussels.carLien }}</td>
                        <td><img src="{{ asset(caroussels.getWebPath)}}" alt=""></td>
                        <td><a href="{{ path('novify_back_caroussel_edit', {id: caroussels.id}) }}" class="modifier">Modifier</a></td>
                        <td><a href="{{ path('novify_back_caroussel_remove', {id: caroussels.id}) }}" class="supprimer">Supprimer</a></td>
                    </tr>

{% endfor %}

                </tbody>

            </table>


        </div>
    </article>




{% endblock %}
